pre {
    padding: 10px;
}

.code-highlight, pre {
    background-color: rgb(0, 0, 0);
}

.code-keyword, .code-number {
    color: rgb(80, 80, 220);
}

.code-idn {
    color: rgb(255, 255, 255);
}

.code-operator {
    color: rgb(180, 30, 180);
}

.code-string {
    color: rgb(10, 180, 180);
}
